<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-12" style="background-color:#bfebef"
                <h3>请上传司机表</h3>
                <div class="col-md-6 col-md-offset-5" style="padding:60px 0;">
                    
                    <input type="file" id="excel-file" placeholder="请上传排好班的司机信息表">
                </div>
            </div>

            <section class="panel">
                <header class="panel-heading">
                    司机表
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                        </span>
                </header>
                <div class="panel-body">
                    <table 
                    data-toggle="table" 
                    data-url="lib/driver.json" 
                    data-height="500" 
                    data-pagination="true">
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="driverCode" data-align="right">司机工号</th>
                                <th data-field="name" data-align="center">姓名</th>
                                <th data-field="phone" data-align="">联系电话</th>
                                <th data-field="lineCode" data-align="">所属线路</th>
                                <th data-field="carCode" data-align="">所属车辆</th>
                                <th data-field="startTime" data-align="">发车时间</th>
                            </tr>
                        </thead>
                    </table>
                </div>
        <!-- <div class="col-md-12">
            <section class="panel">
            <header class="panel-heading">
            班次乘坐率统计
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                    </span>
            </header>
            <div class="panel-body">
                <div class="riderate">
                    <div class="riderate-title">
                    数据分析
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <div class="chart-hedding">
                            <div class="chart-select">
                                <div class="select-item">
                                <select name="" class="form-control select-form " id="data3-selected">
                                    <option value="-1" disabled>请选择线路</option>
                                    <option value="1" selected="selected">1号线</option>
                                    <option value="2" >2号线</option>
                                    <option value="3">3号线</option>
                                    <option value="4" >4号线</option>
                                    <option value="5">5号线</option>
                                    <option value="6">6号线</option>
                                    <option value="7" >7号线</option>
                                    <option value="8">8号线</option>
                                    <option value="9">9号线</option>
                                </select>
                                </div>
                                <div class="select-item">
                                    <select name="" class="form-control select-form " id="time3-selected">
                                    <option value="-1" disabled>请选择时间范围</option>
                                    <option value="1" selected="selected">今天</option>
                                    <option value="2">本周</option>
                                    <option value="3">本月</option>
                                </select>
                                </div>
                            </div>
                        </div>    
                        <div id="station-chart" style="height:500px"></div>
                    </div>
                    </div>
                </div>
            </div>
        </section>    
    </div>   -->
            </section>
        </div>
    </div>
</div>
<!--body wrapper end-->

<!--footer section start-->
<footer>
    2016 &copy; Busoo by Nihoo
</footer>
<!--footer section end-->
        

<!-- Placed js at the end of the document so the pages load faster -->
<script src="lib/jquery-1.10.2.min.js"></script>
<script src="lib/jquery-ui-1.9.2.custom.min.js"></script>
<script src="lib/jquery-migrate-1.2.1.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/bootstrap-multiselect.js"></script>
<script src="lib/modernizr.min.js"></script>
<script src="lib/jquery.nicescroll.js"></script>

<!--gritter script-->
<!-- <script type="text/javascript" src="lib/gritter/lib/jquery.gritter.js"></script>
<script src="lib/gritter/lib/gritter-init.js" type="text/javascript"></script> -->

<!--Sparkline Chart-->
<!-- <script src="lib/sparkline/jquery.sparkline.js"></script>
<script src="lib/sparkline/sparkline-init.js"></script> -->

<!-- <script type="text/javascript" src="lib/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="lib/data-tables/DT_bootstrap.js"></script> -->

<!--Morris Chart-->
<!-- <script src="lib/morris-chart/morris.init.js"></script> -->
<!-- <script src="lib/morris-chart/raphael-min.js"></script>
<script src="lib/morris-chart/morris.js"></script> -->
<!--script for editable table-->
<!-- <script src="lib/editable-table.js"></script> -->

<!-- <script src="lib/echarts/echarts.js" type="text/javascript"></script> -->
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<!-- <script src="lib/charts-echarts2.js" type="text/javascript"></script> -->

<!--iziModal动态弹窗-->
<script src="lib/iziModal.min.js"></script>
<!--common scripts for all pages-->
<script src="lib/scripts.js"></script>

<!--Table Js-->
<script src="lib/bootstrap-table.js"></script>
