<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>管理员管理</title>

    <link rel="stylesheet" href="../js/data-tables/DT_bootstrap.css" />

  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index2.html"><img src="../images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index2.html"><img src="../images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->


        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="../images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">高铭</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                  <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="../index.html"><i class="fa fa-home"></i> <span>首页</span></a></li>
                <li><a href="linestatus.html"><i class="fa fa-road"></i> <span>线路状态</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-eraser"></i> <span>线路信息管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="station.html"> 站点管理</a></li>
                        <li><a href="line.html"> 线路管理</a></li>
                        <li><a href="addline-1.html"> 新增线路</a></li>
                        <li><a href="updateline-1.html"> 线路优化</a></li>
                        <li><a href="riderate.html"> 乘坐率</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-truck"></i> <span>车辆信息管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="businfo.html"> 车辆信息</a></li>
                        <li><a href="oil_view.html"> 燃油记录</a></li>
                        <li><a href="accident_view.html"> 事故记录</a></li>
                        <li><a href="fault_view.html"> 故障记录</a></li>
                        <li><a href="repair_view.html"> 维修记录</a></li>

                    </ul>
                </li>
                <li><a href="employee.html"><i class="fa fa-users"></i> <span>员工信息管理</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-user-md"></i> <span>司机管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="driver.html"> 司机信息管理</a></li>
                        <li><a href="dutyroaster.html"> 司机排班</a></li>
                    </ul>
                </li>
                <li class="menu-list active"><a href=""><i class="fa fa-user"></i> <span>管理员管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="administrators.html"> 管理员管理</a></li>
                        <li class="active"><a href="power.html"> 角色管理</a></li>
                    </ul>
                </li>     
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--search start-->
            <form class="searchform" action="../index.html" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="搜索" />
            </form>
            <!--search end-->

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                            <h5 class="title">你有4封邮件 </h5>
                            <ul class="dropdown-list normal-list">
                                <li class="new">
                                    <a href="">
                                        <span class="thumb"><img src="../images/photos/user1.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">郭伟宇 <span class="badge badge-success">new</span></span>
                                          <span class="msg">司机发来的故障信息...</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="thumb"><img src="../images/photos/user2.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">黄振</span>
                                          <span class="msg">司机发来的维修消息...</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="thumb"><img src="../images/photos/user3.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">陈孝则</span>
                                          <span class="msg">司机发来的事故消息...</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="thumb"><img src="../images/photos/user4.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">李霖</span>
                                          <span class="msg">司机发来的故障消息...</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">2</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                            <h5 class="title">消息</h5>
                            <ul class="dropdown-list normal-list">
                                <li class="new">
                                    <a href="">
                                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                        <span class="name"> 韩雪乘客的投诉消息 </span>
                                        <em class="small">34 分钟前</em>
                                    </a>
                                </li>
                                <li class="new">
                                    <a href="">
                                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                        <span class="name">王仁鑫乘客的投诉消息  </span>
                                        <em class="small">1 小时前</em>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="../images/photos/user-avatar.png" alt="" />
                            高铭
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="#"><i class="fa fa-user"></i>  个人信息</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i>  设置</a></li>
                            <li><a href="#"><i class="fa fa-sign-out"></i> 退出登录</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                管理员管理
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">主页</a>
                </li>
                <li class="active">管理员管理 </li>
            </ul>
            <div class="state-info">

            </div>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <section class="wrapper">
            <div class="row">
                <div class="col-md-12">
                <div class="adv-table editable-table ">
                <div class="clearfix myclearfix">
                    <div class="cover" style="background-color: #eff0f4;color:#7b7b7b;position: absolute;top: 85px;left:94px;width:200px;height:20px;z-index: 9">选择显示个数</div>
                    <div class="cover" style="background-color: #eff0f4;color:#7b7b7b;position: absolute;top: 85px;left:677px;width:60px;height:20px;z-index: 9">搜索：</div>
                        <div class="btn-group">
                        <button id="editable-sample_new" class="btn btn-primary">
                            添加 <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">工具<i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">打印</a></li>
                            <li><a href="#">从Excel导入</a></li>
                            <li><a href="#">导出到Excel</a></li>
                        </ul>
                    </div>
                </div>
                <div class="space15"></div>
                    <table class="table table-striped table-hover table-bordered" id="editable-sample">
                    <thead>
                    <tr>
                        <th>级别</th>
                        <th>数量</th>
                        <th>权限</th>
                        <th>编辑</th>
                        <th>删除</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="">
                        <td>老板</td>
                        <td>1</td>
                        <td>查看</td>
                        <td><a class="edit" href="javascript:;">编辑</a></td>
                        <td><a class="delete" href="javascript:;">删除</a></td>
                    </tr>
                    <tr class="">
                        <td>老板</td>
                        <td>1</td>
                        <td>查看</td>
                        <td><a class="edit" href="javascript:;">编辑</a></td>
                        <td><a class="delete" href="javascript:;">删除</a></td>
                    </tr>
                    <tr class="">
                        <td>老板</td>
                        <td>1</td>
                        <td>查看</td>
                        <td><a class="edit" href="javascript:;">编辑</a></td>
                        <td><a class="delete" href="javascript:;">删除</a></td>
                    </tr>
                    <tr class="">
                        <td>老板</td>
                        <td>1</td>
                        <td>查看</td>
                        <td><a class="edit" href="javascript:;">编辑</a></td>
                        <td><a class="delete" href="javascript:;">删除</a></td>
                    </tr>
                    <tr class="">
                        <td>老板</td>
                        <td>1</td>
                        <td>查看</td>
                        <td><a class="edit" href="javascript:;">编辑</a></td>
                        <td><a class="delete" href="javascript:;">删除</a></td>
                    </tr>
                    <tr class="">
                        <td>老板</td>
                        <td>1</td>
                        <td>查看</td>
                        <td><a class="edit" href="javascript:;">编辑</a></td>
                        <td><a class="delete" href="javascript:;">删除</a></td>
                    </tr>
                    <tr class="">
                        <td>老板</td>
                        <td>1</td>
                        <td>查看</td>
                        <td><a class="edit" href="javascript:;">编辑</a></td>
                        <td><a class="delete" href="javascript:;">删除</a></td>
                    </tr>
                    <tr class="">
                        <td>老板</td>
                        <td>1</td>
                        <td>查看</td>
                        <td><a class="edit" href="javascript:;">编辑</a></td>
                        <td><a class="delete" href="javascript:;">删除</a></td>
                    </tr>
                    <tr class="">
                        <td>老板</td>
                        <td>1</td>
                        <td>查看</td>
                        <td><a class="edit" href="javascript:;">编辑</a></td>
                        <td><a class="delete" href="javascript:;">删除</a></td>
                    </tr>
                    <tr class="">
                        <td>老板</td>
                        <td>1</td>
                        <td>查看</td>
                        <td><a class="edit" href="javascript:;">编辑</a></td>
                        <td><a class="delete" href="javascript:;">删除</a></td>
                    </tr>
                    <tr class="">
                        <td>老板</td>
                        <td>1</td>
                        <td>查看</td>
                        <td><a class="edit" href="javascript:;">编辑</a></td>
                        <td><a class="delete" href="javascript:;">删除</a></td>
                    </tr>
                    <tr class="">
                        <td>老板</td>
                        <td>1</td>
                        <td>查看</td>
                        <td><a class="edit" href="javascript:;">编辑</a></td>
                        <td><a class="delete" href="javascript:;">删除</a></td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                </div>
            </div> 
        </section>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2016 &copy; Busoo by Nihoo
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="../js/jquery-1.10.2.min.js"></script>
<script src="../js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../js/jquery-migrate-1.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/modernizr.min.js"></script>
<script src="../js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="../js/scripts.js"></script>

<script type="text/javascript" src="../js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/data-tables/DT_bootstrap.js"></script>

<!--script for editable table-->
<script src="../js/editable-table.js"></script>
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>

</body>
</html>
